.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  width: 75%;
}

li{
  list-style: none;
}

#name {
  margin: 10px;
}
  
#photo {
  margin-top:20px;
}

#description {
  margin-top:30px; 
}

.nav-item:hover{
  background-color: rgb(242, 240, 255);
}

  