.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
}

li {
  list-style: none;
}

.nav-item:hover {
  background-color: #bce2ec;
}

.bg-primary {
  background-color: #74c8dc !important;
}

img {
  border-radius: 9999px;
  right: 118px
}

.card {
  height: 460px;
}

.card-content {
  padding: 60px;
  width: 90%;
  margin: auto;
  margin: 23px 15px;
  border-radius: 15px;
  height: 65% !important;
}

nav {
  background-color: #eaedf0;
}

#description {
  font-size: 13px;
}

@media only screen and (min-width: 1000px) {
  .App {
    width: 50%;
    padding: 20px;
  }
}

@media only screen and (max-width: 480px) {
  nav {
   display: none !important;
  }
}